.App {
  display: flexbox;
  margin-top: 0px;
  text-align: center;
}

.App-header {
  display: flexbox;
    justify-content: center
}



.navbar-brad img {
width: 40vh;
margin-top: -30vh;

}

p {
  text-align: left;
  margin-left: 10vh;
}



.kn {
  text-align: center;
  font-size: 20px;
}

a {
  display: inline-block;
  margin: 40px;
  text-decoration: none;
  color: rgb(0, 0, 0);
}

a:hover {
  color: #75c1df; 
}

.adaptivSlayder {

  position: relative;

  max-width: 710px;

  margin: 65px auto;

  box-shadow: 0 9px 18px -4px rgba(0, 0, 0, 0.69);

}

 

.adaptivSlayder input[name="kadoves"] {

  display: none;

}

 

.kadoves {

  position: absolute;

  left: 0;

  bottom: -35px;

  text-align: center;

  width: 100%;

}

 

.kadoves label {

  display: inline-block;

  width: 7px;

  height: 7px;

  cursor: pointer;

  margin: 0 2px;

  box-shadow: 0 0 3px 0 rgba(0, 0, 0, .7);

  border-radius: 55%;

  border: 4px solid #2f363c;

  background-color: #738290;

}

 

#slaid1:checked~.kadoves label[for="slaid1"] {

  background-color: white;

}

 

#slaid2:checked~.kadoves label[for="slaid2"] {

  background-color: white;

}

 

#slaid3:checked~.kadoves label[for="slaid3"] {

  background-color: white;

}

 

.adaptivSlayderlasekun {

  overflow: hidden;

   

}

 

.abusteku-deagulus {

  display: flex;

  width: 100%;

  transition: all 0.6s;

}

 

.abusteku-deagulus img {

  width: 100%;

  flex-shrink:0;

}

 

#slaid1:checked~adaptivSlayderlasekun abusteku-deagulus {

  transform: translate(0);

}

 

#slaid2:checked~.adaptivSlayderlasekun .abusteku-deagulus {

  transform: translateX(-100%);

}

 

#slaid3:checked~.adaptivSlayderlasekun .abusteku-deagulus {

  transform: translateX(-200%);

}

b {
  font-size: 30px;
}

.zak {
  height: 400px;
    background-blend-mode: multiply;
    background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #000000;
    text-align: center;
}

a.zakaz {
  color: #ffffff;
  user-select: none; /* Убираем текстовое выделение */
  text-decoration: none;  /* Убираем подчеркивание */
  background-color: #272525; /* Цвет фона */
  padding: 1em 2em; /* Отступ от текста до рамки */
  border-radius: 60px;
  border: 4px solid white;
  margin-top: 30px;
  }


  input{
    padding-left: 20px; 
    box-sizing:border-box; 
    width: 700px; height: 40px; 
    border-radius: 10px; 
    background: #ffffff;
     margin-top: 20px 
  }

  .sv img {
    position: relative;
    left: 10vh;
  }

  .cont {
    /* width: 400px;
    height: 650px; */
    display: flex;
    padding: 0px 25px;
  }

  .tx p {
    top: 100px;
  }

  .card-content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card-content p {
    margin-left: 0px;
  }

  .buy-info-text p {
    margin-left: 10px;
  }